
html,body{
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  @import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
  font-family: 'Inter', sans-serif;   
}

.footer {
  position: fixed;
  height: 50px;
  font-size: 20px;
  width: 100%;
  right: 1%;
  bottom: 0px;
  text-align: end;
  color: white;
 }

.default {
 margin-top: 20px;
 font-size: 24px;
  text-align: center;
  color: whitesmoke;
}

.maintext{
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;
  margin-top: 20px;
  color: whitesmoke;
  text-align: center;
}
.text_imp{
  font-size: 20px;
  padding: 15px;
  text-align: center;
  color: whitesmoke;
}

.button_submit {
  background-color: #00A36C;
  color: white;
  border-radius: 100px;
  border: 3px solid whitesmoke;
  font-size: 36px;
  font-weight: 400;
  width: 335px;
  height: 80px;
}

  .button_submit:hover{
  background-color: #2AAA8A;
  }

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.rectangularfield {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 80vw;
}
