html, body {
    max-width: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    /* background:linear-gradient(269.62deg, #4D9BCB -8.05%, rgba(0, 158, 255, 0) 189.81%); */
}

#text_defined{
    font-size: 30px;
    font-weight: 300;
    text-align: center;
    color: whitesmoke;
}

.services_buttons
{
    text-align: center;
    overflow:hidden;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    height: 150px;
    width: 100%;
    margin-top: 20px;
}


#button_service{
    display: inline-block;
    width: 250px;
    height: 60px;
    border-radius: 50px;
    border-color: rgb(0, 255, 255);
}

#button_service:hover{
    box-shadow: 0px 5px 5px 0px grey;
}

   .footer {
    position: fixed;
    height: 50px;
    font-size: 20px;
    width: 100%;
    bottom: 0px;
    text-align: end;
    color: white;
   }